.about {
  padding: 140px 0 162px;
}

.about__wrap {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.about__desc {
  max-width: 445px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about__desc-top {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about__desc-text {
  max-width: 304px;
  width: 100%;
  font-family: var(--ff);
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
  color: var(--gray);
}

.about__desc-btm {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about__desc-btm_text {
  font-family: var(--ff);
  font-weight: 400;
  font-size: 20px;
  line-height: 90%;
  color: var(--white);
  text-transform: uppercase;
}

.about__img {
  max-width: 540px;
  width: 100%;
}

.about__img img {
  width: 100%;
  height: 100%;
}
@media screen and (max-width:860px) {
  .about__wrap{
    flex-direction: column;
  }
  .about__desc{
    max-width: none;
    gap: 20px;
  }
  .about__desc-text{
    max-width: none;
  }
  .about__desc-btm{
    justify-content: flex-start;
    gap: 20px;
  }
  .about__img{
    max-width: none;
  }
}