*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  outline: none;
  border: none;
  font-family: "Fustat",sans-serif;
  font-weight: 400;
}
.container{
  max-width: 1140px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;
}