.header {
  height: 100svh;
  background: url(../img/bg.png) no-repeat center bottom / cover;
  position: relative;
  display: flex;
  flex-direction: column;
}

.header__nav {
  padding: 22px;
  border-bottom: 1px solid var(--white);
  position: sticky;
  top: 0;
  backdrop-filter: blur(10px);
}

.header__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav-logo {
  font-family: var(--ff);
  font-weight: 700;
  font-size: 24px;
  line-height: 90%;
  text-transform: uppercase;
  color: var(--white);
}

.header__nav-list {
  display: flex;
  align-items: center;
  gap: 60px;
}

.header__nav-list_item-link,
.header__nav-tel {
  font-family: var(--ff);
  font-weight: 400;
  font-size: 16px;
  line-height: 90%;
  color: var(--white);
  text-transform: uppercase;
  transition: 0.3s;
}

.header__nav-list_item-link:hover,
.header__nav-tel:hover {
  color: var(--gray);
}
.banner{
  flex: 2 0 auto;
}
.banner__wrap{
  display: flex;
  align-items: center;
}
.banner__content{
  max-width: 706px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;

}
.banner__title{
  font-family: var(--ff);
font-weight: 300;
font-size: 64px;
line-height: 90%;
text-transform: uppercase;
color: var(--white);

}
.banner__desc{
  display: flex;
  align-items: flex-start;
  gap: 20px;

}
.banner__desc-slogan{
  font-family: var(--ff);
font-weight: 400;
font-size: 20px;
line-height: 140%;
color: var(--gray);
max-width: 350px;
width: 100%;
}
